.gradle/
build/
local.properties
classes

# InteliJ
.idea/
*.iml

# OS-specific files
.DS_Store
.DS_Store?

# maven
target

# generated API 
proglibs

#asciidoctor
.asciidoctor

.database

*.otf
*.ttf
Pods/

.project
.settings
.classpath
